.card {
  width: 38vh;
  height: 48vh;
  overflow: hidden;
  white-space: nowrap;
}

.card-info {
  text-align: center;
  font-family: 'Nova Square', sans-serif;
}

.card-info h2,
.card-info p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info h2 {
  margin-top: 12px;
  margin-bottom: 10px;
}

.card-info p {
  margin: 0;
}